body {
  background-color: rgb(51, 51, 121);
  text-align: center;
}

h1 {
  background-color: rgba(0, 255, 255, 0.815);
  margin: auto;
  margin-top: 30px;
  border-radius: 25px;
  width: 240px;
  border-style: outset;
  border-color: rgb(92, 100, 98);
  font-family: cursive;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: rgba(0, 255, 255, 0.815);
}

.cell:hover {
  background-color: rgb(162, 96, 224);
}

table {
  margin: 40px auto;
}

.cell img {
  width: 25px;
  height: auto;
}

.revealed {
  background-color: rgb(17, 99, 175);
  color: aqua;
}

button {
  color: aquamarine;
  background-color: blueviolet;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 5px;
}

footer {
  margin-top: 30px;
  color: aqua;
}

.minePop {
  background-color: rgb(230, 42, 42);
}

.lives img{
  width: 50px;
  height: 50px;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.smile img{
  width: 80px;
  margin-top: 20px;
}